body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
/* header */
header{
    width:1150px;
    margin:0px auto;
}
nav{
    display:flex;
    justify-content: space-between;
}
ul{
    display:flex;
}
span li{
   list-style: none;
   padding:0px 20px;
   font-size: 18px;
}
span li a{
    text-decoration: none;
    
}
.fa-baby-carriage{
    font-size: 30px;
}


 

  
/* main */

main{
    width:1150px;
    margin:0px auto;
}

/* firs-section */

 .start-my-journey{
     margin-top:100px;
 }
 .conteiner{
     display:flex;
     flex-direction: row;
     margin:0px 0px 50px 0px;
 }

 .details h1{
     font-size: 45px;
 }
 .details p{
    line-height: 25px;
    font-weight:600px;
    font-size: 20px;
 }
 button{
     background-color:crimson;
     padding:10px;
     font-size: 16px;
     color:white;
     border-radius: 20px;
 }
 button:hover{
     background-color:teal;
 }
 .camera{
     padding-left:40px;
 }
 .camera:hover{
     transform:rotate(-45deg);
     transition: transform 2s ease-in-out;
 }
.camera img{
    width:350px;
    border:1px solid rgba(128, 128, 128, 0.589);
    padding:15px;
    border-radius: 100%;
}

/*------- logo-style------ */

.websites-lagu{
    display:flex;
    padding:0px 30px;
    flex-wrap:wrap;
    justify-content: center;
}
.websites-lagu > div{
    padding:0px 20px;
}

/* main-style */

.content h1{
   text-align: center;
}

.all-details {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.all-card{
    width:330px;
    height:530px;
    border:solid white;
    box-shadow: 10px 10px 20px gray;
    border-radius: 10px;
    margin:20px 0px;
}
.card{
    padding:15px;
}
.card-lago img{
    width:100%;
    height:200px;
}

.card-title h1{
    font-size:30px;
    text-align: left;
}
.card-title p{
    font-size: 29px;
    font-weight: 200px;
}
.card-star span{
    padding-left:10px;
    font-size: 20px;
}
.fa-star{
    color:goldenrod;
}
.card-details{
    font-size: 20px;
    font-weight:10px;
}
#all-see li{
 list-style: none;
}
 aside a{
    text-decoration: none;
    color:red;
    font-size: 18px;
    padding-left: 1020px;
}

/* therd-section-style */

.phone-team h1{
    font-size: 35px;
}
.phone-img{
    background-color:gainsboro;
    width:550px;
    border-radius: 10px;
    margin:30px;
    
}
.phone-img img{
 width:550px;
}
.demo{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}
.demo-detils{
    margin:20px;
}
.ph-lago img{
    width:200px;
}
.them-detilse{
    display:flex;
    background-color: gainsboro;
    padding:0px 15px 15px 20px;
    border-radius: 8px;
}
.bacebook-info{
    display:flex;
}
.facebook img{
    width:150px;
}
.bacebook-info{
    margin:1rem 0rem;
    background-color: gainsboro;
    padding:20px;
    border-radius: 10px;
}
.phone-team P{
    line-height: 25px;
    font-weight:600px;
    font-size: 17px;
}
.schedule-p p{
    line-height: 25px;
    font-weight:600px;
    font-size: 17px;
}
.facebook-detiles{
    line-height: 25px;
    font-weight:600px;
    font-size: 17px;
}

/* footer-style */

footer{
    background-color:rgb(4, 4, 70);
}

.footer-dateils{
padding:10px 0px 20px;
 color:white;
 text-align: center;
}
.fa-algolia{
    font-size: 30px;
    padding:0px 10px;
}
.fa-basketball-ball{
    font-size: 30px;
    padding:0px 10px;
}
.fa-twitter{
    font-size: 30px;
    padding:0px 10px;
}
.fa-youtube{
    font-size: 30px;
    padding:0px 10px;
}
.footer-section {
    width: 100%;
}

/* @media scren */

@media (max-width:700px) {
     header nav span h2{
         margin-left: 360px;
         font-size: 50px;
     }
    header span ul{
        display: none;
    }
   .conteiner{
       display:flex;
       flex-direction: column-reverse;
    }
   .start-my-journey{
    text-align: center;
}
.camera{
    text-align: center;
    margin-top: 5rem;
}
.all-details {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 30px;
}
.all-card {
    width: 100%;
    height: auto;
    border: solid white;
    box-shadow: 10px 10px 20px grey;
    border-radius: 10px;
    margin: 3rem 0px;
}
.card {
    text-align: center;
}
.card-title h1{
    font-size:30px;
    text-align:center;
}
.card-lago img{
    width:100%;
    height: auto;
}
.footer-section footer{
    width: 1150px;
}
.demo{
    display:grid;
    grid-template-columns:repeat(1, 1fr);
}
.phone-img{
    background-color:gainsboro;
    width:100%;
    border-radius: 10px;
    margin:30px;
}
.phone-img img{
    width:100%;
    height:auto;
   }
   .facebook-detiles{
    margin:0px 50px;
}
   
}